<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zzzzzz.mapper.AbsentMapper">

    <select id="list" resultType="Absent">
        select a.id,b.name buildingName,d.name dormitoryName,s.name studentName,a.reason,da.name dormitoryAdminName,a.create_date createDate from dormitory d,student s,building b,absent a,dormitory_admin da where d.id = a.dormitory_id and s.id = a.student_id and b.id = a.building_id and da.id = a.dormitory_admin_id
    </select>

    <select id="searchByBuildingName" resultType="Absent">
        select a.id,b.name buildingName,d.name dormitoryName,s.name studentName,a.reason,da.name dormitoryAdminName,a.create_date createDate from dormitory d,student s,building b,absent a,dormitory_admin da where d.id = a.dormitory_id and s.id = a.student_id and b.id = a.building_id and da.id = a.dormitory_admin_id and b.name like concat('%',#{value},'%')
    </select>

    <select id="searchByDormitoryName" resultType="Absent">
        select a.id,b.name buildingName,d.name dormitoryName,s.name studentName,a.reason,da.name dormitoryAdminName,a.create_date createDate from dormitory d,student s,building b,absent a,dormitory_admin da where d.id = a.dormitory_id and s.id = a.student_id and b.id = a.building_id and da.id = a.dormitory_admin_id and d.name like concat('%',#{value},'%')
    </select>

    <insert id="save">
        insert into absent(building_id,dormitory_id,student_id,dormitory_admin_id,create_date,reason) values(#{buildingId},#{dormitoryId},#{studentId},#{dormitoryAdminId},#{createDate},#{reason})
    </insert>

</mapper>