<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zzzzzz.mapper.DormitoryAdminMapper">
    <insert id="save">
        insert into dormitory_admin values(null, #{username},
                    #{password}, #{name}, #{gender}, #{telephone})
    </insert>

    <update id="update">
        update dormitory_admin set username = #{username}, password = #{password},
            name = #{name}, gender = #{gender}, telephone = #{telephone}
            where id = #{id}
    </update>

    <delete id="delete">
        delete from dormitory_admin where id = #{id}
    </delete>

    <select id="list" resultType="DormitoryAdmin">
        select * from dormitory_admin
    </select>

    <select id="searchByUsername" resultType="DormitoryAdmin">
        select * from dormitory_admin where username like concat('%', #{username}, '%')
    </select>

    <select id="searchByName" resultType="DormitoryAdmin">
        select * from dormitory_admin where name like concat('%', #{name}, '%')
    </select>

    <select id="searchByTelephone" resultType="DormitoryAdmin">
        select * from dormitory_admin where telephone like concat('%', #{telephone}, '%')
    </select>

    <select id="findByUserName" resultType="org.zzzzzz.entity.DormitoryAdmin">
        select * from dormitory_admin where username = #{username}
    </select>
</mapper>