<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zzzzzz.mapper.StudentMapper">

    <insert id="save">
        insert into student(number, name, gender, dormitory_id, state, create_date)
            values(#{number}, #{name}, #{gender}, #{dormitoryId}, '入住', #{createDate})
    </insert>

    <insert id="moveout">
        insert into moveout(student_id,dormitory_id,reason,create_date)
        values(#{studentId},#{dormitoryId},#{reason},#{createDate})
    </insert>

    <update id="update">
        update student set number = #{number}, name = #{name}, gender = #{gender},
                        dormitory_id = #{dormitoryId} where id = #{id}
    </update>

    <update id="resetDormitoryId">
        update student set dormitory_id = #{dormitory_id} where id = #{id}
    </update>

    <update id="updateStateById">
        update student set state = '迁出' where id = #{id}
    </update>

    <select id="moveoutList" resultType="student">
        select s.id,s.number,s.name name,s.gender,s.dormitory_id dormitoryId,d.name dormitoryName,s.state
        from student s,dormitory d
        where s.dormitory_id = d.id and s.state = '入住'
    </select>

    <delete id="delete">
        delete from student set dormitory_id = #{dormitoryId} where id = #{studentId}
    </delete>

    <select id="list" resultType="student">
        select s.id,s.number,s.name name,s.gender,s.dormitory_id dormitoryId,d.name
            dormitoryName,s.state,s.create_date createDate
        from student s,dormitory d where s.dormitory_id = d.id
    </select>

    <select id="searchByNumber" resultType="org.zzzzzz.entity.Student">
        select s.id,s.number,s.name name,s.gender,s.dormitory_id dormitoryId,d.name
                dormitoryName,s.state,s.create_date createDate from student s,dormitory d
        where s.dormitory_id = d.id and s.number like concat('%', #{number}, '%')
    </select>

    <select id="searchByName" resultType="org.zzzzzz.entity.Student">
        select s.id,s.number,s.name name,s.gender,s.dormitory_id dormitoryId,d.name
                 dormitoryName,s.state,s.create_date createDate from student s,dormitory d
        where s.dormitory_id = d.id and s.name like concat('%', #{name}, '%')
    </select>

    <select id="findStudentIdByDormitoryId" resultType="java.lang.Integer">
        select id from student where dormitory_id = #{dormitoryId}
    </select>

    <select id="searchForMoveoutByName" resultType="org.zzzzzz.entity.Student">
        select s.id,s.number,s.name name,s.gender,s.dormitory_id dormitoryId,d.name dormitoryName,s.state
        from student s,dormitory d
        where s.dormitory_id = d.id and s.state = '入住' and s.name like concat('%',#{name},'%')
    </select>

    <select id="searchForMoveoutByNumber" resultType="org.zzzzzz.entity.Student">
        select s.id,s.number,s.name name,s.gender,s.dormitory_id dormitoryId,d.name dormitoryName,s.state
        from student s,dormitory d
        where s.dormitory_id = d.id and s.state = '入住' and s.number like concat('%',#{number},'%')
    </select>


</mapper>