<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zzzzzz.mapper.SystemAdminMapper">
    <!--通过名字查询id-->
    <select id="findByUsername" resultType="SystemAdmin">
        select * from system_admin where username = #{username}
    </select>
</mapper>